/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html, body {
    height: 100%;
    font-size: 1em;
    line-height: 1.4;
    color: #FFF;
    font-weight: lighter;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modalWrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
}

.modal {
    width: 60%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5%;
    background: #363636;
    padding: 35px 35px 35px 35px;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    border-radius: 10px;
}

.closeBtn {
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 30px;
    text-align: center;
    margin-left: -31px;
    margin-top: -31px;
    padding-top: 4px;
}

#code {
    width: 100%;
    height: 100%;
    overflow: scroll;
    font-family: "Courier New", Courier, monospace;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.wrapper {
    width: 100%;
    height: 65%;
    min-height: 500px;
}

#inspector {
    width: 340px;
    height: calc(100% - 30px);
    min-height: 400px;
    float: left;
    background: #2B2B2B;
    overflow: scroll;
    border-right: 1px solid black;
}

#stage {
    position: relative;
    width: calc(100% - 340px);
    height: calc(100% - 30px);
    min-height: 400px;
    float: left;
    background: #363636;
}

#timelineWrapper {
    position: relative;
    width: 100%;
    height: 35%;
    background: #363636;
    overflow-y: scroll;
    overflow-x: hidden;
}

.horizontalDivider {
    width: 100%;
    height: 30px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #505050), color-stop(100%, #383838));
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset 0 1px 0 #6e6e6e,0 2px 2px rgba(0,0,0,0.4);
    padding-top: 3px;
    padding-left: 15px;
}

#playheadWrapper {
    position: absolute;
    left: 340px;
    right: 0px;
    height: 93%;
    margin-top: -23px;
}

#playhead {
    position: absolute;
    width: 1px;
    height: 100%;
    z-index: 10;
    text-align: center;
    cursor: pointer;
}

#playheadInner {
    width: 1px;
    height: calc(100% + 9px);
    margin-top: -1px;
    margin-left: 1px;
    background: #EF9F27;
}

#playheadHandle {
    width: 0; 
    height: 0; 
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #EF9F27;
    margin-left: -9px;
}

.animationElement {
    position: relative;
    width: 100px;
    height: 100px;
    background: #FFF;
}

.layerWrap {
    width: 100%;
    height: 32px;
    background: #2B2B2B;
    border-bottom: 1px solid black;
}

.layerWrap.active {
    background: #212021;
}

.layerName {
    position: relative;
    width: 340px;
    height: 100%;
    float: left;
    padding-left: 15px;
    padding-top: 5px;
    border-right: 1px solid #000;
    cursor: pointer;
}

.layerName .deleteBtn {
    right: 14px;
    top: 4px;
    background: none;
}

.layerTimeline {
    position: relative;
    width: calc(100% - 340px);
    height: 100%;
    float: left;
}

.keyframe {
    position: absolute;
    width: 7px;
    top: 0px;
    bottom: 0px;
    background: #9b59b6;
}

.keyframe.active {
    box-shadow: 0px 0px 13px 2px #9b59b6;
}

.keyframe.selected {
    background: #512F60;
}

.keyframe.selected.active {
    box-shadow: 0px 0px 13px 2px #512F60;
}

.attributeWrap {
    position: relative;
    width: 100%;
    height: 49px;
    background: #2B2B2B;
    border-bottom: 1px solid black;
    padding-top: 8px;
    padding-left: 35px;
    padding-right: 15px;
    white-space: nowrap;
    overflow-y: scroll;
}

.attributeWrap input {
    border: none;
    background: #212021;
    color: #FFF;
    outline: 0px;
    padding: 5px 0px 5px 8px;
    border-radius: 5px;
}

.attributeWrap span {
    padding: 5px 0px 5px 8px;
    border-radius: 5px;
    display: inline-block;
}

.light {
    position: absolute;
    left: 13px;
    top: 17px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 2px solid #000;
    color: #FFF;
    text-align: center;
    font-size: 10pt;
    padding-top: 2px;
}

.light.active {
    background: #EF9F27;
    border: 0px;
}

.saveBtn {
    position: absolute;
    right: 15px;
    top: 14px;
    width: 51px;
    height: 22px;
    border-radius: 4px;
    background: #2B2B2B;
    border: 1px solid #212021;
    color: #3F3E40;
    text-align: center;
    font-size: 10pt;
    padding-top: 2px;
}

.saveBtn.active {
    background: #212021;
    border: 1px solid #2ecc71;
    color: #FFF;
}

.deleteBtn {
    position: absolute;
    right: 75px;
    top: 14px;
    width: 23px;
    height: 22px;
    border-radius: 4px;
    background: #212021;
    color: #FFF;
    text-align: center;
    font-size: 10pt;
    padding-top: 2px;
    z-index: 1000;
}

.button {
    cursor: pointer;
}

.button.newLayer, .button.play, .length, .lengthLabel, .generateCSS, .projects {
    font-size: 10pt;
    color: #A0A0A0;
}

.projects {
    margin-left: 41.5%;
}

.generateCSS {
    position: absolute;
    right: 10px;
    margin-top: 3px;
}

span.length, input.length, span.lengthLabel {
    position: absolute;
    z-index: 2000;
    right: 10px;
    margin-top: 3px;
}

span.lengthLabel {
    right: 65px;
}

input.length, .layerName input {
    border: none;
    background: #363636;
    color: #FFF;
    outline: 0px;
    padding: 2px 0px 2px 8px;
    margin-top: 2px;
    border-radius: 5px;
    width: 45px;
}

.layerName input {
    width: 200px;
    margin-top: -2px;
}

span.length, .layerName span {
    padding: 0px 0px 2px 8px;
    border-radius: 5px;
    display: inline-block;
    right: 27px;
}

.button.stop {
    position: absolute;
    color: #A0A0A0;
    font-size: 23pt;
    top: -8px;
    margin-left: 5px;
}

.button.play {
    margin-left: 195px;
}

.button.stop {
    margin-left: 5px;
}

.button.play.disabled, .button.stop.disabled {
    opacity: .3;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.invisible {
    opacity: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}